body {
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #1b1a1a;
  text-align: center;
}

a {
  text-decoration: none;
  color: purple;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  max-width: 800px; /* keeps it centered on the page */
}

.project img {
  width: 100px;
  height: auto;
  border: 2px solid rgb(126, 14, 201);
  border-radius: 8px;
  margin-left: 20px;
}

.project p {
  margin: 5px 0;
  text-align: left;
}